# Logs
logs/

# Secrets
**/secrets/
*.pem
*.key
!*.key.example
.envrc
.env
p-isolation-segment.yml

# Certs
*.crt

# OS files
.DS_Store

# Editor
.idea/
*.swp
*.swo
.worktrees/
settings.local.json

# AI
**/CLAUDE.md
!.claude/CLAUDE.md
!/CLAUDE.md
